.page-title {
	margin-bottom: 20px;
}

.list-task-container {
	width: 100%;
}

.list-task-container table {
	width: 100%;
}

.list-task-container table tr th,
.list-task-container table tr td {
	padding: 5px 0px;
}

.list-task-container table tr th {
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid gray;
}

.task-action button {
	margin-right: 10px;
}

.header-action-container {
	display: flex;
	align-items: center;
}

.header-action-container button {
	margin-right: 10px;
}
