<h2 class="page-title">Tasks Management</h2>
<div class="list-task-container">
	<div class="header-action-container">
		<button mat-raised-button color="primary" (click)="onAddNewTask()">
			Add New Task
		</button>
		<form [formGroup]="searchForm">
			<mat-form-field appearance="standard">
				<mat-label>Search Task</mat-label>
				<input matInput placeholder="Ex. abc" formControlName="search" />
			</mat-form-field>
		</form>
	</div>
	<ng-container *ngIf="!loading; else isLoading">
		<table cellspacing="0">
			<thead>
				<tr>
					<th *ngFor="let column of displayColumn">
						{{ column }}
					</th>
				</tr>
			</thead>

			<tbody *ngIf="filteredTasks$ | async as filteredTasks">
				<tr *ngFor="let task of filteredTasks" (click)="onRowSelected(task.id)">
					<td>
						{{ task.id }}
					</td>
					<td>
						{{ task.description }}
					</td>
					<td>
						{{ task.user ? task.user.name : "Anonymous" }}
					</td>
					<td>
						{{ task.completed | taskStatus }}
					</td>
					<td class="task-action">
						<button
							mat-raised-button
							color="primary"
							(click)="$event.stopPropagation(); onTaskCompleted(task.id)"
							[disabled]="task.completed"
						>
							Complete
						</button>
						<button
							mat-raised-button
							color="primary"
							(click)="$event.stopPropagation(); onRowSelected(task.id)"
						>
							Edit
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</ng-container>
	<ng-template #isLoading>
		<mat-progress-bar mode="indeterminate"></mat-progress-bar>
	</ng-template>
</div>
