.list-task-container {
	width: 100%;
}

.list-task-container table {
	width: 100%;
}

.list-task-container table td,
.list-task-container table th {
	white-space: normal;
	word-wrap: break-word;
	max-width: 200px;
}

.task-action button {
	margin-right: 10px;
}

.header-action-container {
	display: flex;
	align-items: center;
}

.header-action-container button {
	margin-right: 10px;
}
